$form__main-color: #fa6681 !default;
$form__accent-color: #245492 !default;
$form__error-color: #d95858 !default;
$form__warning-color: #ffe121 !default;
$form__white-color: #fff !default;
$form__dark-color: #edeced !default;
$form__dark_placeholder-color: #787878 !default;
