.gc__dropdown {
  .ui.dropdown {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 46px;
    font-size: 16px;
    padding: {
      left: 0;
    }

    .visible.menu.transition {
      min-height: $form__dropdown_menu-height;

      .item {
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 46px;
        font-size: 16px;
        line-height: 1 !important;
      }
    }

    &.outline {
      box-shadow: 0 0 30px #e9ecef;
    }

    &.disabled {
      opacity: 0.8;
    }

    i.dropdown.icon {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }

    input {
      left: 0 !important;
      height: 100%;
      border: transparent 1px solid !important;
      border-radius: 3px;

      .search {
        height: 100%;

        &:focus {
          background: {
            color: $form__white-color;
          }
        }

        &:active {
          background: {
            color: $form__white-color;
          }
        }
      }
    }

    div.text {
      position: absolute;
      top: 0;
      display: inline-flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: {
        left: 1rem;
      }
    }
  }

  &.inline {
    .visible.menu.transition {
      .item {
        display: inline-flex !important;
      }
    }
  }

  &.dark {
    a.ui.label {
      font-weight: normal;
      color: white;
      background-color: #444c55;
      border-color: #3d444c #2f353b #2c3137;
    }

    .ui.dropdown {
      background: {
        color: $form__dark-color;
      }
      padding: {
        left: 16px;
      }
      height: calc(100% + 3px);
      min-height: 49px;
      border: 0;
      &.active.visible {
        background-color: $form__white-color;
        border: {
          top: solid 3px $form__main-color !important;
          right: solid 3px $form__main-color !important;
          left: solid 3px $form__main-color !important;
        }
      }
      .text {
        &.default {
          height: calc(100% + 3px);
          font-weight: bold !important;
          padding: {
            left: 0;
          }
          color: $form__dark_placeholder-color;
        }
      }

      .menu {
        border: {
          right: solid 3px $form__main-color !important;
          bottom: solid 3px $form__main-color !important;
          left: solid 3px $form__main-color !important;
        }

        width: calc(100% + 6px);
        margin: {
          top: 0;
          left: -3px;
        }
      }
    }

    &.disabled {
      opacity: 0.4;
    }
  }
}
