.gc__dropdown {
  padding: {
    bottom: 7px;
  }

  &.dark {
    .ui.dropdown {
      background: {
        color: $form__dark-color;
      }

      .text {
        &.default {
          color: $form__dark_placeholder-color;
          font-weight: bold !important;
        }
      }
    }

    &.disabled {
      opacity: 0.4;
    }
  }

  .ui.dropdown {
    height: 40px;
    padding: 0 !important;
    border: solid 3px transparent !important;

    &.active.visible {
      border: solid 3px $form__main-color !important;
      background-color: $form__white-color;
    }

    &.outline {
      box-shadow: 0 0 30px #e9ecef;
    }

    &.disabled {
      opacity: 0.8;
    }

    input {
      left: 0 !important;
      height: 100%;
      border: transparent 1px solid !important;
      border-radius: 3px;

      .search {
        height: 100%;

        &:focus {
          background: {
            color: $form__white-color;
          }
        }

        &:active {
          background: {
            color: $form__white-color;
          }
        }
      }
    }

    .menu {
      border: {
        right: solid 3px $form__main-color !important;
        bottom: solid 3px $form__main-color !important;
        left: solid 3px $form__main-color !important;
      }

      width: calc(100% + 6px);
      margin-left: -3px;
    }

    div.text {
      display: inline-flex;
      height: 100%;
      align-items: center;
      padding: {
        left: 1rem;
      }
    }
  }
}
