.gc__dropdown {
  padding: {
    bottom: 7px;
  }

  .ui.dropdown {
    height: 40px;
    padding: 0 !important;
    border: none;
    background: {
      color: $form__white-color;
    }

    &.outline {
      box-shadow: 0 0 30px #e9ecef;
    }

    &.disabled {
      opacity: 0.8;
    }

    &.dark {
      input {
        border: none;
        background: {
          color: $form__dark-color;
        }

        &:focus {
          background: {
            color: $form__white-color;
          }

          box-shadow: 0 0 0 3px rgba($form__main-color, 0.7);
        }

        &:active {
          background: {
            color: $form__white-color;
          }

          box-shadow: 0 0 0 3px rgba($form__main-color, 0.7);
        }
      }

      &.disabled {
        opacity: 0.4;
      }

      .text {
        :placeholder-shown {
          color: $form__dark_placeholder-color;
          font-weight: bold;
        }

        ::-webkit-input-placeholder {
          color: $form__dark_placeholder-color;
          font-weight: bold;
        }

        :-moz-placeholder {
          color: $form__dark_placeholder-color;
          font-weight: bold;
          opacity: 1;
        }

        ::-moz-placeholder {
          color: $form__dark_placeholder-color;
          font-weight: bold;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: $form__dark_placeholder-color;
        }

        font-weight: bold;
      }
    }

    input.search {
      height: 100%;
      padding: 0 !important;
      border: none;

      background: {
        color: $form__white-color;
      }

      &:focus {
        background: {
          color: $form__white-color;
        }

        box-shadow: 0 0 0 3px rgba($form__main-color, 0.7);
      }

      &:active {
        background: {
          color: $form__white-color;
        }

        box-shadow: 0 0 0 3px rgba($form__main-color, 0.7);
      }
    }

    div.text {
      display: inline-flex;
      height: 100%;
      align-items: center;
      padding: {
        left: 1rem;
      }
    }
  }
}
